# Redirecionar todas as solicitações para o diretório /public
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Redirecionar para index.php se não for arquivo ou diretório
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Impedir acesso direto a arquivos sensíveis
<FilesMatch "^(\.env|composer\.json|composer\.lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Impedir acesso direto a diretórios
Options -Indexes