# Redirecionar todas as solicitações para o diretório /public
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Impedir acesso direto a arquivos sensíveis
<FilesMatch "^(\.env|composer\.json|composer\.lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Impedir acesso direto a diretórios
Options -Indexes